html {
  scroll-behavior: smooth;
}

section {
  padding-top: 1rem;
  margin-block-start: 0 !important;
}

.nav-header {
  text-align: left;
  padding: 0.9rem 0;
}

.mockup {
  max-width: 30rem;
}

.hero-img-container {
  position: relative;
  margin: auto;
}

.hero-img-container > img {
  display: block;
}

.hero-img-container > .gradient-box {
  width: 100%;
  height: 14rem;
  position: absolute;
  bottom: 0;
  border-radius: 0;
  background: linear-gradient(to bottom, transparent 0%, var(--surface) 100%);
}

.summary-info {
  padding: 1.5rem;
}

.summary-info > h1,
.summary-info > h3 {
  text-align: center;
}

.summary-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.summary-actions > a > img {
  height: 3.5rem;
  border-radius: 0;
}

#features img {
  max-width: 20rem;
}

#features > article {
  margin-block-start: 0;
  text-align: center;
}

#features > article {
  display: flex;
  flex-direction: column;
}

.space {
  flex-grow: 1;
}

#features > article .hero-img-container > .gradient-box {
  background: linear-gradient(
    to bottom,
    transparent 0%,
    var(--surface-container-low) 100%
  );
}

#final-CTA p {
  text-align: center;
}

.footer-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer-info > p {
  margin: 0;
  margin-block-start: 0 !important;
  text-align: right;
  flex-grow: 1;
}

.footer-links {
  display: flex;
  column-gap: 1rem;
}

#locales {
  margin-block-start: 0;
  margin-block-end: 0;
}

#locales > select {
  cursor: pointer;
}

@media (max-width: 431px) {
  h1 {
    font-size: 2.8125rem !important;
  }
  .summary-info {
    padding: 0;
  }
}

@media (max-width: 520px) {
  .summary-actions {
    gap: 0.5rem;
  }

  .summary-actions > a > img {
    height: 2.75rem;
    border-radius: 0;
  }
}

@media (max-width: 760px) {
  .footer-info {
    flex-direction: column;
  }

  .footer-info > p {
    text-align: inherit;
  }
}
