html {
  scroll-behavior: smooth;
}

section {
  padding-top: 1rem;
  margin-block-start: 0 !important;
}

.nav-header {
  text-align: left;
  padding: 0.9rem 0;
}

.mockup {
  max-width: 30rem;
}

.hero-img-container {
  position: relative;
  margin: auto;
}

.hero-img-container > img {
  display: block;
}

.hero-img-container > .gradient-box {
  width: 100%;
  height: 14rem;
  position: absolute;
  bottom: 0;
  border-radius: 0;
  background: linear-gradient(to bottom, transparent 0%, var(--surface) 100%);
}

.summary-info {
  padding: 1.5rem;
}

.summary-info > h1,
.summary-info > h3 {
  text-align: center;
}

.summary-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.summary-actions > a > img {
  height: 3rem;
  border-radius: 0;
}

#features img {
  max-width: 20rem;
}

#features > article {
  text-align: center;
}

#features > article .hero-img-container > .gradient-box {
  background: linear-gradient(
    to bottom,
    transparent 0%,
    var(--surface-container-low) 100%
  );
}

#final-CTA p {
  text-align: center;
}

footer > p {
  text-align: center;
}

@media (max-width: 431px) {
  h1 {
    font-size: 2.8125rem !important;
  }
  .summary-info {
    padding: 0;
  }
}
